<!--The content below is only a placeholder and can be replaced.-->
<div class="columns">
  <aside class="column is-2 aside is-fullheight hero">
    <div class=" has-text-centered hero-head">
      <form action="https://codepen.io/pen/define" target="_blank" method="POST" #frmNewPen>
        <input type="hidden" #inputData name="data">
      </form>
      <button class="button is-success  is-bold is-large" (click)="getCode(frmNewPen, inputData)">
        <span class="">Get Code!!!</span>
      </button>
      <button class="button is-danger  is-bold is-large" (click)="reset()">
        <span class=""><i class="fa fa-trash"></i></span>
      </button>
    </div>

    <section class="grid-edit">
      <div class="form-wrapper">
        <div class="form-header columns">
          <span class="title is-4 has-text-centered column is-10">Edit Columns(px)</span>
          <button class="button is-primary is-bold" (click)="addColumn()">
            <i class="fa fa-plus-square"></i>
          </button>
        </div>
        <div class="form-container">
          <div class="field is-horizontal has-text-centered" *ngFor="let col of cols">
            <input type="number" class="input is-primary" placeholder="auto" (change)="changeColSize(col, $event.srcElement.value)">
            <button class="button is-danger delete-btn" (click)="removeColumn()">
              <span><i class="fa fa-minus-square"></i></span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-wrapper">
        <div class="form-header columns">
          <span class="title is-4 has-text-centered column is-10">Edit Rows(px)</span>
          <button class="button is-primary is-bold" (click)="addRow()">
            <i class="fa fa-plus-square"></i>
          </button>
        </div>
        <div class="form-container">
          <div class="field is-horizontal has-text-centered" *ngFor="let row of rows">
            <input type="number" class="input is-primary" placeholder="auto" (change)="changeRowSize(row, $event.srcElement.value)">
            <button class="button is-danger delete-btn" (click)="removeRow()">
              <span><i class="fa fa-minus-square"></i></span>
            </button>
          </div>

        </div>
      </div>
    </section>

    <div class=" has-text-centered hero-foot">
      <h4 class="title is-4">Grid Gap(px)</h4>

      <div class="field is-horizontal has-text-left columns">
        <label for="colGap" class="label column  has-text-centered">Column</label>
        <input type="number" id="colGap" class="input is-primary column" [(ngModel)]="gap.col" (change)="changeGap()"  value="0" min="0">
      </div>
      <div class="has-text-left field is-horizontal columns">
        <label for="rowGap" class="label is-6 column has-text-centered">Row</label>
        <input type="number" id="rowGap" class="input is-primary column" [(ngModel)]="gap.row" (change)="changeGap()" value="0" min="0">
      </div>
    </div>

  </aside>

  <app-grid class="column is-10 " [rows]="rows.length" [cols]="cols.length" [gap]="gap"></app-grid>



</div>