
section.grid-edit{
    min-height: 70%;
    div.form-wrapper{
        min-height: 20em;
        margin-top: 1em; 
    }
}
.form-header{
    
    span{
        padding-top:0;
    }
  
}
.form-container{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 250px;
}
aside.aside{
    max-height:100vh;
}