section.selecting{
    border:3px ridge ;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    justify-content: center;
    .form-container{
        input{
            border-color: crimson;
            position: absolute;
            top: calc(50% - 1em);
            bottom: 0;
            left:0;
            right:0;
        }
        p.validation{
            font-size: small;
            color: red;
            position: absolute;
            top: calc(50% + 2em);
            bottom: 0;
            left:0;
            right:0;
        }
        .btn-container{
            text-align: right;
        }
        min-height: 100%;
        position: relative;
    }
}

  /deep/  app-selected-cell {
        
        display: contents;
    }
